* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #0A0F1F;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* background-color: #FF2E63; */
}

.left_side{
    
    text-align: center;
    width: 12rem;
}

h1{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#ff0040;
    font-weight: bolder;
    
}
/* ---------------------------- */


/* ---------------------------------------- */


/* Navigation Styling */
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem; /* spacing between nav items */
    margin-left: 1rem;
    
}

nav ul li a {
    text-decoration: none;
    color: #EAEAEA;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

nav ul li a:hover {
    color: #08D9D6; /* hover accent */
    text-shadow: 0px 1px 9px #08D9D6;
    
}


main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@keyframes lighting{
    0%{
        color: #F9ED69;
        text-shadow: 0px 0px 1px #F9ED69;
    }

    25%{
        color: #F9ED69;
        text-shadow: 0px 0px 2px #F9ED69;
    }

    50%{
        color: #F9ED69;
        text-shadow: 0px 0px 2px #F9ED69;
    }

    75%{
        color: #F9ED69;
        text-shadow: 0px 0px 2px #F9ED69;
    }

    100%{
        color: #F9ED69;
        text-shadow: 0px 0px 1px #F9ED69;
    }

}

b{
    animation: lighting;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

p{
    color: #EAEAEA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-top: 1rem;
    line-height: 1.6;
}

.heading2{
    margin-bottom: 2rem;
    color: #EAEAEA;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    border-radius: 8px;
    border-bottom-color: #00fffb;
    border-left-color: #00fffb;
    border-right-color: #1F2633;
    border-top-color: #1F2633;
    /* box-shadow: 1px 1px 5px #00fffb; */
}


.about_acid_rain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #1F2633;
    border-radius: 1rem;
    box-shadow: 0px 0px 17px #FF2E63;
    transition: box-shadow 0.3s ease;
}
/* ----------------------------- */
@keyframes burn{
    0%{
        box-shadow: 0px 0px 17px #FF2E63;
    }
    50%{
        box-shadow: 0px 0px 17px #ff0040;
    }
    100%{
        box-shadow: 0px 0px 17px #FF2E63;
    }
}

.effects{
    animation: burn;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    margin-top: 5rem;
    padding: 2rem;
    background-color: #1F2633;
    border-radius: 1rem;
    box-shadow: 0px 0px 17px #FF2E63;
    transition: box-shadow 0.3s ease;
}

.effects_info{
    display: flex;
    justify-content: space-around;
    /* background-color: antiquewhite; */
    padding: 0.5rem;
    width: 100%;
    height: 100%;
     
}

.effects_text_info{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 48%;
    height: 80%;
    border-color: #F9ED69;
    padding: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem ;
    
}



.vr{
    
    box-shadow: 0px 0px 10px #08D9D6;
    width: 1px;
    height: 20rem;    
    align-self: center;
    background-color: #08D9D6;
    border-radius: 1rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.vr:hover{
    box-shadow: 0px 0px 15px #00fffb;
    transform: translateY(2px);
}

.effects_img_info{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 48%;
    height: 80%;
    border-color: #F9ED69;
    padding: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 1rem ;
    
    

}

.img_effects{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter:saturate(2);
    padding: 2px;
    box-shadow: 0px 0px 12px #0A0F1F;
    transition: transform 0.3s ease-in-out;
}

.img_effects:hover{
    transform: scale(2);
    filter: saturate(1);
    z-index: 10;
}
/* ------------------------------------- */



.solution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 600px;
    margin-top: 5rem;
    padding: 2rem;
    background-color: #1F2633;
    border-radius: 1rem;
    box-shadow: 0px 0px 17px #FF2E63;
    transition: box-shadow 0.3s ease;
    /* background-image: url(asset/wind.webp);
    background-size: cover; */
}





.solution_info{
    /* background-color: white; */
    width: 50%;
    height: 80%;
    
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border-style: solid;
    border-color: gray;
    padding: 5px;
    text-align: start;
    /* filter: opacity(70%); */
}






/* ------------------------------- */


@media (max-width:425px) {

    p{
        font-size: 0.5rem;
        line-height: 0;
    }
    body{
        padding: 0.5rem;
    }

    .img_effects{
        width: 100px;
    }
    .vr{
        width: 1px;
    }

    .solution_info{
        padding: 0.2rem;
    }
    
}


